aside.fi-sidebar {
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 12px 0 28px 0 rgba(17, 24, 39, 0.12);
    background: #111827 url('/public/images/side-bar-bg.svg') no-repeat;
    background-size: cover;
}
.fi-sidebar-nav {
    row-gap: calc(var(--spacing) * 4);
    overflow-x: hidden;
    overflow-y: auto;
    padding-inline: 12px;
    padding-block: 12px;
    scrollbar-gutter: unset;

    .fi-sidebar-group-btn{
        padding-inline: 0;
    }

    .fi-sidebar-item-btn{
        height: 2.6rem;
        padding: 0.9rem;
    }

    .fi-sidebar-group-label{
        @apply text-gray-300;
    }
    .fi-sidebar-item-label, .fi-icon.fi-sidebar-item-icon {
        @apply text-gray-400;
    }

    .fi-active {
        @apply text-white;
        & > .fi-sidebar-item-btn {
            @apply bg-primary-700;
            @apply text-white;
            .fi-sidebar-item-label{
                @apply text-white;
            }
            .fi-icon.fi-sidebar-item-icon{
                @apply text-white;
            }
        }
    }
}



