.fi-sc-tabs {
    &.fi-contained {
        & .fi-sc-tabs-tab {
            &.fi-active {
                padding: calc(var(--spacing) * 3);
            }
        }
    }
}

div.print_container_tab.fi-active {
    height: 100%;
}
.print_container {
    max-height: 100vh;
    .fi-sc-has-gap.fi-grid {
        height: 100%;
    }
}
