nav.fi-topbar {
    padding-inline: calc(var(--spacing) * 8);

    /*@media (min-width: 1024px) {*/
    /*    min-height: unset;*/
    /*}*/
    .fi-sidebar-collapse-btn-wrap {
        position: fixed;
        top: 2rem;
        left: var(--sidebar-width);
        transform: translate(-50%, -50%);
        z-index: 50;

        button.fi-topbar-close-collapse-sidebar-btn {
            @apply rounded-full bg-white border border-gray-200 shadow-lg;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}




